<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
    <title></title>
</head>
<body style="background-color:  beige;">
    <nav class="w3-bar w3-black">
        <a href="~/Views/Home/Map.cshtml" class="w3-button w3-bar-item">Home</a>
        <a href="~/Views/Home/StatisticalTable.cshtml" class="w3-button w3-bar-item">Statistical Table</a>
        <a href="" class="w3-button w3-bar-item">Map</a>
        <a href="" class="w3-button w3-bar-item">Contact</a>
    </nav>
    <p style="text-align:center; font-size:x-large; font-family:Arial"><b>Welcome to our beer web service!</b></p>
    <p style="text-align:center"><img src="~/fonts/Logo.png" width="300" height="300"/></p>    
</body>
</html>